.container {
  display: flex;

  background-color: grey;

  flex-flow: row wrap;
}

.items {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
  border: 1px solid black;
  text-align: center;
  background-color: blue;
  border-radius: 10px;
  margin: 10px;


}
